<!DOCTYPE html>
<html>
    <head>
        <% include partials/bootstrap %>
        <title>Todo list</title>
    </head>
    <body>
        <h1>Ma todolist</h1>

        <ul>
        <% for (var i = 0 ; i < todolist.length ; i++) { %>
            <li>Coucou</li>
        <% } %>
        </ul>
        Que dois-je faire ? <input type="text" name="name" value="">
        <button type="button" name="button">Valider</button>
    </body>
</html>
